@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Mono:wght@500;600&family=Oswald:wght@600&family=Press+Start+2P&display=swap');


*{
    margin: 0;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 63, 26);
    font-weight: 700;
    cursor: pointer;
    transition: 1s;
}

a:hover{
    color: #0044ff;
    font-size: 25px;
}

body{
    margin-bottom: 100px;
    background-color: rgb(24, 24, 24);
}

h1{
    color: rgb(236, 236, 236);
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 10px;
}
.fundo1{
    padding: 20px;
    transition: 1s;
}

.anuncio h3{
    margin: 10px 10px 12px 5px;
    margin-top: 10px;
}

.anuncio p{
    margin-left: 5px;
    margin-right: 10px;
    margin-top: -5px;
    font-size: 15px;
    margin-bottom: 10px;
}

li{
    padding: 10px;
    font-weight: 600;
    font-family: 'Silkscreen', cursive;
}

img{
    max-width: 100%;
    display: block;
}

.s-recentes{
    background-color: rgb(153, 58, 58);
    padding: 10px;
    border-radius: 8px;
}

.s-recentes > h2{
    margin: 10px 10px 10px 0px;
    font-size: 22px;
    color: rgb(196, 51, 51);
}

.s-recentes > p{
    font-size: 15px;
    color: rgb(53, 53, 53);
}

.s1{
    height: 220px;
    border-radius: 10px;
    width: 100%;
}


header {
    background-color: rgb(218, 255, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 0px 10px rgb(68, 68, 68);
    z-index: 1000;
}

.logo{
    color: rgb(251, 255, 0);
    font-weight: 900;
    font-family: 'Silkscreen', cursive;
    letter-spacing: -4px;
    font-size: 30px;
}

.menu{
    display: flex;
    gap: 20px;
}

.carousel-caption > h3{
    font-size: 32px;
    font-weight: 800;
}


.carousel-caption > p{
    margin-top: -10px !important;
    font-size: 18px;
}

.rounded-3{
    border-radius: 15px !important;
}

.carousel-control-next{
    background-color: #2c2c2c;
    border-radius: 100px 0px 0px 100px;
}

.carousel-control-prev{
    border-radius: 0px 100px 100px 0px;
    background-color: #2c2c2c;
}

.primeira-fase{
  color: white;
  text-align: center;
  font-size: 15px;
}


#demo{
    border: soldi 10px red !important;
    border-radius: 10px !important;
}

.card {
    --border-radius: 10px;
    --primary-color: #FFE600;
    --secondary-color: #adadad;
    font-family: "Arial";
    padding: 0.8rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: #313131;
    box-shadow: 3px 0px #FFE600;
    position: relative;
    color: rgb(255, 255, 255);
    border: none;
  }

  .card > * + * {
    margin-top: 1.1em;
  }
  
  .card .card__content {
    color: var(--secondary-color);
    font-size: 0.86rem;
    margin-top: 0px;
  }
  
  .card .card__title {
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .card .card__date {
    color: #7a7a7a79;
    font-size: 0.8rem;
    margin-top: 130px;
  }
  
  .card .card__arrow {
    position: absolute;
    background: var(--primary-color);
    padding: 0.4rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    bottom: 0;
    right: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card svg {
    transition: 0.2s;
  }
  
  /* hover */
  .card:hover .card__title {
    color: var(--primary-color);
    text-decoration: underline;
  }
  
  .card:hover .card__arrow {
    background: #111;
  }
  
  .card:hover .card__arrow svg {
    transform: translateX(3px);
  }


  .card-placar-fase {
    --border-radius: 10px;
    --primary-color: #FFE600;
    --secondary-color: #adadad;
    font-family: "Arial";
    padding: 0.8rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: #3e4044;
    box-shadow: 3px 0px #030303;
    position: relative;
    color: rgb(255, 255, 255);
    border: none;
  }
  
  .card-eliminatorias {
    --border-radius: 10px;
    --primary-color: #FFE600;
    --secondary-color: #adadad;
    font-family: "Arial";
    padding: 0.8rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: #0044ff;
    box-shadow: 3px 0px #030303;
    position: relative;
    color: rgb(255, 255, 255);
    border: none;
  }

  .card-artilheiros {
    --border-radius: 10px;
    --primary-color: #FFE600;
    --secondary-color: #adadad;
    font-family: "Arial";
    padding: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: #FFE600;
    box-shadow: 3px 0px #030303;
    position: relative;
    color: rgb(11, 18, 73);
    border: none;
  }


  

  .card-destaque{
    background-color: #075839;
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
    border-top: solid 10px #FFE600;
    color: white;
    transition: 0.1s;
  }

  .card-destaque:hover{
    border: solid 5px #FFE600;
  }

  .bto-assista{
    background-color: #FFE600;
  }

  .card-body > h4{
    font-size: 32px;
    font-weight: 800;
  }

  .class{
    background: #313131;
    padding: 10px;
  }

  .icone{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icone > p{
    margin: 0;
    padding: 0;
    font-size: 18px;
  }

  .brilho{
    color: #fffb00;
  }

  .cinza{
    color: rgb(116, 116, 116);
  }


  .partidas{
    color: white;
    font-weight: 600;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    letter-spacing: 2px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .partidas-eliminadas{
    color: white;
    font-weight: 600;
    text-align: center;
    background-color: rgb(54, 52, 52);
    border-radius: 10px;
    padding: 10px;
    font-size: 15PX;
  }

  .seleeliminadas{
    background-color: rgb(48, 48, 48);
    color: rgb(116, 116, 116);
    padding: 10px;
    border-radius: 0px 0px 30px 30px;
    font-size: 18px;
    font-weight: 700;
  }

  .card-body > p{
    font-size: 15px;
  }


  .vsy{
    margin-top: 40px;
  }


  .p-label{
    font-size: 18px;
  }

  .bg-brasil{
    margin: 5px;
    border-radius: 5px;
    color: rgb(7, 7, 7);
    font-size: 12px;
    background-color: #d0ff00;
  }

  .bg-empate{
    margin: 5px;
    border-radius: 5px;
    color: rgb(201, 201, 201);
    font-size: 12px;
    background-color: #3f3f3e;
  }

  .bg-adversario{
    margin: 5px;
    border-radius: 5px;
    color: rgb(201, 201, 201);
    font-size: 12px;
    background-color: #d32323;
  }

  .progress{
    background-color: rgb(25, 133, 97);
    border-radius: 5px;
  }

  .bg-success{
    background-color: rgb(229, 255, 0) !important;
  }
  .bg-success:hover{
    background-color: rgba(3, 121, 50, 0.781) !important;
    border: solid 3px rgb(200, 255, 0);
  }

  .bg-warning{
    background-color: rgb(109, 109, 13) !important;
    border-radius: 50px !important;
  }

  .bg-warning:hover{
    background-color: rgba(71, 102, 0, 0.363) !important;
    border-radius: 50px !important;
    border: solid 3px rgb(95, 102, 0);
  }

  .title-card{
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
  }



  @media (max-width: 768px){
    .carousel-item > img{
        height: 240px;
    }

    .fundo1{
        padding: 0px;
        margin-bottom: 20px;
    }

    .carousel-caption{
        background-color: rgba(44, 44, 44, 0.301);
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
    }

    .carousel-caption > h3{
        font-size: 15px;
        margin-bottom: 10px;
        text-align: left;
    }
    .carousel-caption > p{
        font-size: 10px;
        margin-bottom: -10px;
        text-align: left;

    }

    .class{
        background: #31313100;
      }

    .carousel-fade{
        background-color: rgb(0, 0, 0) !important;
    }

    .circles{
        display: none;
    }

    .carrosel{
      box-shadow: 2px 2px 4px black;
      overflow: hidden;
      height: 300px;
      border: solid 5px #2e2e2e !important;
      border-radius: 10px !important;
      margin-bottom: 10px;
    }

    h1{
      font-size: 18px;
      letter-spacing: 0.9px;
    }
    
  }



  .bto-assista {
    margin-top: 20px;
    padding: 15px 25px;
    border: unset;
    border-radius: 8px;
    color: #353535;
    z-index: 1;
    background: #ffee00;
    position: relative;
    width: 100%;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
   }
   
   .bto-assista::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #0044ff;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .bto-assista:hover {
    color: #ffee00;
   }
   
   .bto-assista:hover::before {
    width: 100%;
   }



   


.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}



.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(236, 240, 8, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 55px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 5s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 10s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 10px;
    animation-delay: 0s;
    animation-duration: 5s;
}



.carrosel{
  box-shadow: 2px 2px 4px black;
  overflow: hidden;
  height: 300px;
  border: solid 20px #2e2e2e;
  border-radius: 200px;
  margin-bottom: 10px;
}

.container1{
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.container1 > img{
  object-fit: cover;
  height: 300px;
}




@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 100%;
    }

}












